@model DataLayer.Model

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Model", FormMethod.Post, new { enctype = "multipart/form-data" }))  
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Model</legend>

        @Html.HiddenFor(model => model.ModelId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubNav)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubNav)
            @Html.ValidationMessageFor(model => model.SubNav)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SortOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SortOrder)
            @Html.ValidationMessageFor(model => model.SortOrder)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ImageURI1)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.ImageURI1)
            @Html.ValidationMessageFor(model => model.ImageURI1)
            @if (Model.ImageURI1 != null)
            {
                <img src="~/Content/Images/@(Model.ImageURI1)/Thumbnail.png" />
              
            }
            <input type="file" id="ImageURI1File" name="ImageURI1File" />

        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
