@model TakYab.Areas.Advertising.Controllers.SearchCriterias



<div class="searchPanel panel panel-primary">
    <div class="panel-heading">خودروهای موجود در سایت</div>
    <div class="panel-body">

        <div class="searchItem">
            <span class="searchTitle pull-right">صفر/کارکرده</span>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="usedCarDropDownMenu" data-toggle="dropdown">
                    <span class="title">همه</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="usedCarDropDownMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'usedCarDropDownMenu', 'همه');">همه</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('0', 'usedCarDropDownMenu', 'صفر');">صفر</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('1', 'usedCarDropDownMenu', 'کارکرده');">کارکرده</a></li>
                </ul>
            </div>
        </div>
        <div class="searchItem">
            <span class="searchTitle pull-right">استان</span>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="provinceDropDownMenu" data-toggle="dropdown">
                    <span class="title">همه</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="provinceDropDownMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'provinceDropDownMenu', 'همه');">همه</a></li>
                    @foreach (var item in Model.ProvinceList)
                    {
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.ProvinceId','provinceDropDownMenu','@(item.Name)');">@(item.Name)</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="searchItem">
            <span class="searchTitle pull-right">نوع خودرو</span>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="modelDropDownMenu" data-toggle="dropdown">
                    <span class="title">همه</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="modelDropDownMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'modelDropDownMenu', 'همه');">همه</a></li>
                    @foreach (var item in Model.ModelList)
                    {
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.ModelId','modelDropDownMenu','@(item.Name)');">@(item.Name)</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="searchItem">
            <span class="searchTitle pull-right">مدل خودرو</span>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="subModelDropDownMenu" data-toggle="dropdown">
                    <span class="title">همه</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="subModelDropDownMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'subModelDropDownMenu', 'همه');">همه</a></li>
                    @foreach (var item in Model.SubModelList)
                    {
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.SubModelId','subModelDropDownMenu','@(item.Name)');">@(item.Name)</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="searchItem">
            <span class="searchTitle pull-right">سال تولید</span>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="buildYearDropDownMenu" data-toggle="dropdown">
                    <span class="title">همه</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="buildYearDropDownMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'buildYearDropDownMenu', 'همه');">همه</a></li>
                    @foreach (var item in Model.BuildYearList)
                    {
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.BuildYearId','buildYearDropDownMenu','@(item.Name)');">@(item.Name)</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="searchItem">
            <span class="searchTitle pull-right">قیمت</span>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="priceRangeDropDownMenu" data-toggle="dropdown">
                    <span class="title">همه</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="priceRangeDropDownMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'priceRangeDropDownMenu', 'همه');">همه</a></li>
                    @foreach (var item in Model.PriceRangeList)
                    {
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.PriceBandId','priceRangeDropDownMenu','@(item.Name)');">@(item.Name)</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="searchItem">
            <span class="searchTitle pull-right">نوع آگهی</span>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="adTypeDropDownMenu" data-toggle="dropdown">
                    <span class="title">همه</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="adTypeDropDownMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'adTypeDropDownMenu', 'همه');">همه</a></li>
                    @foreach (var item in Model.AdTypeList)
                    {
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.AdTypeId','adTypeDropDownMenu','@(item.Name)');">@(item.Name)</a></li>
                    }
                </ul>
            </div>
        </div>
        <br />
        <div class="buttonsContainer" style="width:100%;display:inline-block;text-align:center;">
            <input type="button" value="جستجو" onclick="javascript:SearchAds();" class="btn" />
            &nbsp;&nbsp;&nbsp;
            <input type="button" value="جستجوی مجدد" onclick="javascript:resetSearch();" class="btn" />
        </div>
    </div>
</div>



<script type="text/javascript">
    function searchContainer() {
        this.UsedCar = 0;
        this.Province = 0;
        this.Model = 0;
        this.SubModel = 0;
        this.PriceRange = 0;
        this.BuildYear = 0;
        this.AdType = 0;
    }
    function SearchAds() {
        getSelectedItems();
    }

    function getSelectedItems() {
        var result = new searchContainer();

        var usedCar = $("#usedCarDropDownMenu .title").attr("selectedValue");
        var province = $("#provinceDropDownMenu .title").attr("selectedValue");
        var model = $("#modelDropDownMenu .title").attr("selectedValue");
        var subModel = $("#subModelDropDownMenu .title").attr("selectedValue");
        var priceRange = $("#priceRangeDropDownMenu .title").attr("selectedValue");
        var buildYear = $("#buildYearDropDownMenu .title").attr("selectedValue");
        var adType = $("#adTypeDropDownMenu .title").attr("selectedValue");


        $.ajax({
            url: '@Url.Action("SearchAds", "Search", new { area = "Advertising" })',
            type: 'GET',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: {
                usedCar: JSON.stringify(usedCar), province: JSON.stringify(province),
                model: JSON.stringify(model), subModel: JSON.stringify(subModel),
                priceRange: JSON.stringify(priceRange), buildYear: JSON.stringify(buildYear),
                adType: JSON.stringify(adType)

            },
            success: function (cars) {
                var searchResuts = "<ul>";
                for (var i = 0; i < cars.Results.length; i++) {
                    var item = cars.Results[i];
                    searchResuts +=
                        '<li>' +
                        '<div><img src="/Content/Images/' + item.ImageURI + 'thumbnail.jpg" /><a href="' + item.CarId + '">' + item.CarId + '</a></div>' +
                        '</li>';
                }
                searchResuts += "</ul>";

                $("#searchResullts").html(searchResuts);
            }
        });

    }

</script>
























<script type="text/javascript">
    function selectThis(itemId, dropDownId, itemName) {

        $("#" + dropDownId + " .title").html(itemName);
        $("#" + dropDownId + " .title").attr("selectedValue", itemId);
    }
</script>
