@model TakYab.Areas.Advertising.Controllers.SearchCriterias


<form method="post" action="@(Url.Action("SearchResults", "Search", new { area = "Advertising" }))">
    <div class="searchPanel panel panel-primary">
        <div class="panel-heading">خودروهای موجود در سایت</div>
        <div class="panel-body">

            <div class="searchItem">
                <span class="searchTitle pull-right">صفر/کارکرده</span>
                <div class="dropdown">
                    <input type="hidden" value="" name="carStatusHidden" id="carStatusHidden" />
                    <button class="btn btn-primary dropdown-toggle" type="button" id="carStatusDropDownMenu" name="carStatusDropDownMenu" data-toggle="dropdown">
                        <span class="title">@(Model.CarStatusId != Guid.Empty ? Model.CarStatus : "همه")</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="usedCarDropDownMenu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'carStatusDropDownMenu', 'carStatusHidden', 'همه');">همه</a></li>
                        @foreach (var item in Model.CarStatusList)
                        {
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.CarStatusId','carStatusDropDownMenu','carStatusHidden','@(item.Name)');">@(item.Name)</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="searchItem">
                <input type="hidden" value="" name="provinceHidden" id="provinceHidden" />
                <span class="searchTitle pull-right">استان</span>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="provinceDropDownMenu" name="provinceDropDownMenu" data-toggle="dropdown">
                        <span class="title">@(Model.ProvinceId != Guid.Empty ? Model.Province : "همه")</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="provinceDropDownMenu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'provinceDropDownMenu', 'provinceHidden', 'همه');">همه</a></li>
                        @foreach (var item in Model.ProvinceList)
                        {
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.ProvinceId','provinceDropDownMenu','provinceHidden','@(item.Name)');">@(item.Name)</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="searchItem">
                <input type="hidden" value="" name="modelHidden" id="modelHidden" />
                <span class="searchTitle pull-right">نوع خودرو</span>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="modelDropDownMenu" name="modelDropDownMenu" data-toggle="dropdown">
                        <span class="title">@(Model.ModelId != Guid.Empty ? Model.Model : "همه")</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="modelDropDownMenu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'modelDropDownMenu', 'همه');">همه</a></li>
                        @foreach (var item in Model.ModelList)
                        {
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.ModelId','modelDropDownMenu','modelHidden','@(item.Name)');">@(item.Name)</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="searchItem">
                <input type="hidden" value="" name="subModelHidden" id="subModelHidden" />
                <span class="searchTitle pull-right">مدل خودرو</span>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="subModelDropDownMenu" name="subModelDropDownMenu" data-toggle="dropdown">
                        <span class="title">@(Model.SubModelId != Guid.Empty ? Model.SubModel : "همه")</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="subModelDropDownMenu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'subModelDropDownMenu', 'همه');">همه</a></li>
                        @foreach (var item in Model.SubModelList)
                        {
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.SubModelId','subModelDropDownMenu','subModelHidden','@(item.Name)');">@(item.Name)</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="searchItem">
                <input type="hidden" value="" name="buildYearHidden" id="buildYearHidden" />
                <span class="searchTitle pull-right">سال تولید</span>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="buildYearDropDownMenu" name="buildYearDropDownMenu" data-toggle="dropdown">
                        <span class="title">@(Model.BuildYearId != Guid.Empty ? Model.BuildYear : "همه")</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="buildYearDropDownMenu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'buildYearDropDownMenu', 'همه');">همه</a></li>
                        @foreach (var item in Model.BuildYearList)
                        {
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.BuildYearId','buildYearDropDownMenu','buildYearHidden','@(item.Name)');">@(item.Name)</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="searchItem">
                <input type="hidden" value="" name="priceRangeHidden" id="priceRangeHidden" />
                <span class="searchTitle pull-right">قیمت</span>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="priceRangeDropDownMenu" name="priceRangeDropDownMenu" data-toggle="dropdown">
                        <span class="title">@(Model.PriceRangeId != Guid.Empty ? Model.PriceRange : "همه")</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="priceRangeDropDownMenu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'priceRangeDropDownMenu', 'همه');">همه</a></li>
                        @foreach (var item in Model.PriceRangeList)
                        {
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.PriceRangeId','priceRangeDropDownMenu','priceRangeHidden','@(item.Name)');">@(item.Name)</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="searchItem">
                <input type="hidden" value="" name="adTypeHidden" id="adTypeHidden" />
                <span class="searchTitle pull-right">نوع آگهی</span>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="adTypeDropDownMenu" data-toggle="dropdown">
                        <span class="title">@(Model.AdTypeId != Guid.Empty ? Model.AdType : "همه")</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="adTypeDropDownMenu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('', 'adTypeDropDownMenu','adTypeHidden', 'همه');">همه</a></li>
                        @foreach (var item in Model.AdTypeList)
                        {
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="selectThis('@item.AdTypeId', 'adTypeDropDownMenu','adTypeHidden','@(item.Name)');">@(item.Name)</a></li>
                        }
                    </ul>
                </div>
            </div>
            <br />
            <div class="buttonsContainer" style="width:100%;display:inline-block;text-align:center;">
                <input type="submit" value="جستجو" class="btn" />
                &nbsp;&nbsp;&nbsp;
                <input type="button" value="جستجوی مجدد" onclick="javascript:resetSearch();" class="btn" />
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    function searchContainer() {
        this.UsedCar = 0;
        this.Province = 0;
        this.Model = 0;
        this.SubModel = 0;
        this.PriceRange = 0;
        this.BuildYear = 0;
        this.AdType = 0;
    }
    function SearchAds() {
        getSelectedItems();
    }

    function getSelectedItems() {
        var result = new searchContainer();

        var usedCar = $("#usedCarDropDownMenu .title").attr("selectedValue");
        var province = $("#provinceDropDownMenu .title").attr("selectedValue");
        var model = $("#modelDropDownMenu .title").attr("selectedValue");
        var subModel = $("#subModelDropDownMenu .title").attr("selectedValue");
        var priceRange = $("#priceRangeDropDownMenu .title").attr("selectedValue");
        var buildYear = $("#buildYearDropDownMenu .title").attr("selectedValue");
        var adType = $("#adTypeDropDownMenu .title").attr("selectedValue");


        $.ajax({
            url: '@Url.Action("SearchResults", "Search", new { area = "Advertising" })',
            type: 'POST',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: {
                usedCar: JSON.stringify(usedCar), province: JSON.stringify(province),
                model: JSON.stringify(model), subModel: JSON.stringify(subModel),
                priceRange: JSON.stringify(priceRange), buildYear: JSON.stringify(buildYear),
                adType: JSON.stringify(adType)

            }
            //success: function (cars) {
            //    var searchResuts = "<ul>";
            //    for (var i = 0; i < cars.Results.length; i++) {
            //        var item = cars.Results[i];
            //        searchResuts +=
            //            '<li>' +
            //            '<div><img src="/Content/Images/' + item.ImageURI + 'thumbnail.jpg" /><a href="' + item.CarId + '">' + item.CarId + '</a></div>' +
            //            '</li>';
            //    }
            //    searchResuts += "</ul>";

            //    $("#searchResullts").html(searchResuts);
            //}
        });

    }




    function selectThis(itemId, dropDownId, hiddenControlId, itemName) {
        $("#" + dropDownId + " .title").html(itemName);
        $("#" + dropDownId + " .title").attr("selectedValue", itemId);
        $("#" + hiddenControlId).val(itemId);
    }
</script>
