@model DataLayer.Car

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<fieldset>
    <legend>Car</legend>

    @Html.HiddenFor(model => model.CarId)


    <div class="formPanel">
        <div class="rightSidePanel panel panel-takyab ">
            <div class="panel-heading">اطلاعات خودرو</div>
            <div class=" panel-body">

                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.CarStatusId)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.CarStatus.Name)
                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.ProvinceId)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Province.Name)

                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.SubModelId)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.SubModel.Model.Name) -> @Html.DisplayFor(model => model.SubModel.Name)
                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.BuildYearId)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.BuildYear.Name)

                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.Milage)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Milage)

                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.Price)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Price)

                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.OutsideColourId)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.OutsideColour)

                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.InsideColourId)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.InsideColour)
                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.FuelTypeId)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.FuelType.Name)
                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.InsuranceTypeId)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.InsuranceType.Name)

                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.AdTypeId)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.AdType.Name)
                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.PriorityId)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Priority.Name)
                    </div>
                </div>
                <div class="formRow">

                    <div class="display-label">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.GearType)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.GearType)
                    </div>
                </div>
                <div class="formRow">
                    <div class="display-label">
                        @Html.LabelFor(model => model.PhoneNumber)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </div>
                </div>
            </div>

        </div>

        <div class="leftSidePanel">
            <div class=" panel panel-takyab-transparent "> 
                <div class="panel-body">
                    <div id="carCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carCarousel" data-slide-to="1"></li>
                            <li data-target="#carCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            @{var i = "active";}
                            @foreach (var item in Model.CarImages)
                            {
                                <div class="item @(i)" style="text-align:center;">
                                    <img src="/Content/Images/@(item)/Medium.png" />
                                </div>

                                @(i = "")
                            }
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

