@model DataLayer.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Car</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubModel.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubModel.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Province.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Province.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdType.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BuildYear.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuildYear.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PriceRange.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PriceRange.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdCreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdCreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdValidUntil)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdValidUntil)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdStatus.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdStatus.Name)
    </div>

  

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OutsideColourId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OutsideColourId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InsideColourId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InsideColourId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GearType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GearType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Feul)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Feul)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Insurance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Insurance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageURI1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageURI1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageURI2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageURI2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageURI3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageURI3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageURI4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageURI4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageURI5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageURI5)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
