@model DataLayer.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Car</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SubModel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubModel.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Province)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Province.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AdType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdType.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.BuildYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuildYear.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PriceRange)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PriceRange.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AdStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdStatus.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.OutsideColour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OutsideColourId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.InsideColour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InsideColourId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FuelType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuelType.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.InsuranceType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InsuranceType.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CarStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarStatus.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.GearType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GearType)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Milage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Milage)
    </div>

</fieldset>
<h2>Test</h2>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarId }) |

    @Html.ActionLink("Back to List", "Index", new { id = Model.CarId }) 
</p>
