@model DataLayer.Car

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ویرایش</h2>

@using (Html.BeginForm("Edit", "Car", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Car</legend>

        @Html.HiddenFor(model => model.CarId)


        <div class="formPanel">
            <div class="rightSidePanel panel panel-takyab ">
                <div class="panel-heading">اطلاعات خودرو</div>
                <div class=" panel-body">

                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.CarStatusId)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.CarStatusId, new SelectList(ViewBag.CarStatusIdList, "CarStatusId", "Name", Model.CarStatusId), "---")
                            @Html.ValidationMessageFor(model => model.CarStatusId)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ProvinceId)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.ProvinceId, new SelectList(ViewBag.ProvinceIdList, "ProvinceId", "Name", Model.ProvinceId), "---")
                            @Html.ValidationMessageFor(model => model.ProvinceId)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.SubModelId)
                        </div>
                        <div class="editor-field">
                            @*<table cellspacing="2px">
                                    <tr>
                                        <td>
                                            @Html.DropDownListFor(model => model.SubModel.ModelId, ((SelectList)ViewBag.ModelId))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DropDownListFor(model => model.SubModelId, ((SelectList)ViewBag.SubModelId))
                                        </td>
                                    </tr>
                                </table>*@
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.BuildYearId)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.BuildYearId, new SelectList(ViewBag.BuildYearIdList, "BuildYearId", "Name", Model.ProvinceId), "---")
                            @Html.ValidationMessageFor(model => model.BuildYearId)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Milage)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Milage)
                            @Html.ValidationMessageFor(model => model.Milage)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Price)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Price)
                            @Html.ValidationMessageFor(model => model.Price)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OutsideColourId)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.OutsideColourId, new SelectList(ViewBag.OutsideColourIdList, "ColourId", "Name", Model.OutsideColourId), "---")
                            @Html.ValidationMessageFor(model => model.OutsideColourId)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.InsideColourId)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.InsideColourId, new SelectList(ViewBag.InsideColourIdList, "ColourId", "Name", Model.InsideColourId), "---")
                            @Html.ValidationMessageFor(model => model.InsideColourId)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.FuelType)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.FuelTypeId, new SelectList(ViewBag.FuelTypeIdList, "FuelTypeId", "Name", Model.FuelTypeId), "---")
                            @Html.ValidationMessageFor(model => model.FuelType)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.InsuranceType)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.InsuranceTypeId, new SelectList(ViewBag.InsuranceTypeIdList, "InsuranceTypeId", "Name", Model.InsuranceTypeId), "---")
                            @Html.ValidationMessageFor(model => model.InsuranceType)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.AdTypeId)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.AdTypeId, new SelectList(ViewBag.AdTypeIdList, "AdTypeId", "Name", Model.AdTypeId), "---")
                            @Html.ValidationMessageFor(model => model.AdTypeId)
                        </div>

                    </div>
                    <div class="formRow">

                        <div class="editor-label">
                            @Html.LabelFor(model => model.PriorityId)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.PriorityId, new SelectList(ViewBag.PriorityIdList, "PriorityId", "Name", Model.PriorityId), "---")
                            @Html.ValidationMessageFor(model => model.PriorityId)
                        </div>
                    </div>
                    <div class="formRow">

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.GearType)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.GearType)
                            @Html.ValidationMessageFor(model => model.GearType)
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.PhoneNumber)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PhoneNumber)
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                    </div>
                </div>

            </div>

            <div class="leftSidePanel">
                <div class=" panel panel-takyab ">
                    <div class="panel-heading">آپلود عکس</div>
                    <div class="panel-body">


                        <div class="editor-label">
                            @Html.LabelFor(model => model.ImageURI1)
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(model => model.ImageURI1)
                            @Html.ValidationMessageFor(model => model.ImageURI1)
                            @if (Model.ImageURI1 != null)
                            {
                                <img src="~/Content/Images/@(Model.CarId)/ImageURI1/Thumbnail.jpg" />
                                <label for="ImageURI1Checkbox">حذف عکس</label>
                                <input type="checkbox" name="ImageURI1Checkbox" id="ImageURI1Checkbox" />
                            }
                            <input type="file" id="ImageURI1File" name="ImageURI1File" />

                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ImageURI2)
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(model => model.ImageURI2)
                            @Html.ValidationMessageFor(model => model.ImageURI2)
                            @if (Model.ImageURI2 != null)
                            {
                                <img src="~/Content/Images/@(Model.CarId)/ImageURI2/Thumbnail.jpg" />

                                <label for="ImageURI2Checkbox">حذف عکس</label>
                                <input type="checkbox" name="ImageURI2Checkbox" id="ImageURI2Checkbox" />
                            }

                            <input type="file" id="ImageURI2File" name="ImageURI2File" />
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ImageURI3)
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(model => model.ImageURI3)
                            @Html.ValidationMessageFor(model => model.ImageURI3)
                            @if (Model.ImageURI3 != null)
                            {
                                <img src="~/Content/Images/@(Model.CarId)/ImageURI3/Thumbnail.jpg" />
                                <label for="ImageURI3Checkbox">حذف عکس</label>
                                <input type="checkbox" name="ImageURI3Checkbox" id="ImageURI3Checkbox" />
                            }
                            <input type="file" id="ImageURI3File" name="ImageURI3File" />
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ImageURI4)
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(model => model.ImageURI4)
                            @Html.ValidationMessageFor(model => model.ImageURI4)
                            @if (Model.ImageURI4 != null)
                            {
                                <img src="~/Content/Images/@(Model.CarId)/ImageURI4/Thumbnail.jpg" />
                                <label for="ImageURI4Checkbox">حذف عکس</label>
                                <input type="checkbox" name="ImageURI4Checkbox" id="ImageURI4Checkbox" />
                            }
                            <input type="file" id="ImageURI4File" name="ImageURI4File" />

                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ImageURI5)
                        </div>
                        <div class="editor-field">
                            @Html.HiddenFor(model => model.ImageURI5)
                            @Html.ValidationMessageFor(model => model.ImageURI5)
                            @if (Model.ImageURI5 != null)
                            {
                                <img src="~/Content/Images/@(Model.CarId)/ImageURI5/Thumbnail.jpg" />
                                <label for="ImageURI5Checkbox">حذف عکس</label>
                                <input type="checkbox" name="ImageURI5Checkbox" id="ImageURI5Checkbox" />
                            }
                            <input type="file" id="ImageURI5File" name="ImageURI5File" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttonsContainer">
                <input type="submit" value="Save" />
            </div>


        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">

    function DashboardDataReceived(data) {
        var dashboardData = data.Result;
        var result = '<option value=""></option>';
        for (var i = 0; i < dashboardData.length; i++) {
            result += '<option value="' + dashboardData[i].SubModelId + '">' + dashboardData[i].Name + '</option>';
        }
        $("#SubModelId").html(result);
    }

    $("#ModelId").change(function () {
        var modelId = $(this).val();

        if (modelId != "") {
            $("#SubModelId").show();
            var requestURL = "/Advertising/SubModel/GetSubModelListByModelId?modelId=" + modelId;
            console.log("requestURL: " + requestURL);
            $.ajax({
                url: requestURL,
                type: "GET",
                context: this,
                success: DashboardDataReceived,
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
        else {
            $("#SubModelId").hide();
        }

    });
</script>